:root {
    --black: #000000;
    --white: #ffffff;
    --nav-color: #212121;
    --button-text-color-second: #212121;
    --second-title-color: #212121;
    --first-text-color: #212121;
    --second-text-color: #757575;
    --header-contact-color: #757575;
    --accent-color: #2196F3;
    --background-first-color: #2F303A;
    --background-second-color: #F5F4FA;
    --third-text-color: #212121;
    --fourth-text-color: #757575;
    --main-icon-color: #AFB1B8;
    --background-grey: #2F303A;
    --speed-for-animation: cubic-bezier(0.4, 0, 0.2, 1);


}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--first-text-color);
}

/* ___________универсальные_____________ */

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.link {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


/* ___________хедер_____________ */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: baseline;
}

.header-nav {
    display: flex;
    align-items: baseline;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-right: 93px;
}

.accent-logo {
    color: var(--accent-color);
}

.header-list .link.current {
    color: var(--accent-color);
}

.header-list-item .link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -28px;
    background-color: #2196F3;
    height: 4px;
    border-radius: 2px;
}

.header-list {
    display: flex;
    padding: 0%;
}

.header-list-item {
    position: relative;
    margin-right: 50px;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--nav-color);
    display: block;
    transition: color 250ms;
    transition-timing-function: var(--speed-for-animation);
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}


.header-contact-container {
    margin-left: auto;
}

.header-contact-list {
    display: flex;
    align-items: baseline;
    padding: 0;
}

.header-contact-li {
    display: flex;
    align-items:center;
}

.header-contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-contact-color);
    margin-left: 30px;
    fill: var(--header-contact-color);
    transition: color 250ms;
    transition-timing-function: var(--speed-for-animation);
}

.header-contact-item:hover,
.header-contact-item:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.header-contact-icon {
    margin-right: 10px;
}

/* ___________hero_____________ */

.hero {
    background-color: var(--background-first-color);
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url(../Img/hero-bg.jpg);
    max-width: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 0 0 30px 0;
    width: 696px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);
}

.hero-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--accent-color);
    border-radius: 4px;
    display: block;
    min-width: 200px;
    height: 50px;
    border: none;
}

/* ___________деятельность_____________ */

.section-benefits {
    padding-top: 94px;
}

.benefits-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}

.benefits-item {
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits-item-box {
    width: 270px;
    height: 120px;
    background-color: var(--background-second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
}



.benefits-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-text-color);
    margin: 0
}

.benefits-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin: 10px 0 0 0;
}

/* ___________чем мы занимаемся_____________ */

.activity {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.activity-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
    margin: 0 0 50px 0;
    padding: 0;
}

.activity-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    margin-top: 0;
    padding-left: 0;
}

.activity-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: center;
}

.activity-item-text {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px 0;
}

.activity-text-box::before {
    content: '';
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;

}

/* ___________team_____________ */

.team {
    background-color: var(--background-second-color);
}



.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0 0 50px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    padding-left: 0;
    margin-top: 0;
}

.team-list-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid --second-text-color;
    border-left: 1px solid --second-text-color;
    border-right: 1px solid --second-text-color;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item-card {
    padding: 30px 0 30px 0;
}


.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    margin: 0 0 10px 0;
    padding: 0;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--fourth-text-color);
    margin: 0 0 16px 0;
    padding: 0;
}

.social-icons-list {
display: flex;
justify-content: center;
}

.social-icons-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}


.social-icons-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--main-icon-color);
    transition: background-color 250ms, fill 250ms;
    transition-timing-function: var(--speed-for-animation);
}

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: var(--accent-color);
    fill: var(--white);
}


.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
}

.clients-list {
display: flex;
margin: 50px 0 0 0;
}


.clients-list-item {
    width: 170px;
    height: 92px;
    margin-right: 30px;
}

.clients-list-item:last-child {
    margin-right: 0;
}

.clients-list-link {
    border: solid 1px;
    border-color: var(--main-icon-color);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--main-icon-color);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--speed-for-animation);
}

.clients-list-link:hover,
.clients-list-link:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
}


/* ___________footer_____________ */

.footer {
    background-color: var(--background-first-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    display: inline-block;
    letter-spacing: 0.03em;
    color: var(--white);
    margin-bottom: 20px;
}

.footer-address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-list {
    padding: 0;
    margin: 0;
}

.footer-list .footer-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    display: inline-block;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--speed-for-animation);
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}


.footer-social-box {
    margin-left: 70px;
    box-sizing: inherit;
}

.footer-social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-icons-list {
    display: flex;
}

.footer-icons-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--main-icon-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--speed-for-animation);

}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: var(--accent-color);
    fill: var(--white);
}

.footer-icons-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.footer-icons-item:last-child {
    margin-right: 0;
}
/* ___________PORTFOLIO_____________ */



.projects-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-list-nav {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0 0 50px 0;
}

.project-list-item {
    margin-right: 8px;
}


.project-button {
    font-family: inherit;
    font-style: 400;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--button-text-color-second);
    border: none;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 0;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms ;
    transition-timing-function: var(--speed-for-animation);
}
.project-button:hover,
.project-button:focus {
    color: var(--white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-all {
    height: 38px;
    min-width: 73px;
}
.button-web {
    height: 38px;
    min-width: 128px;
}
.button-application {
    height: 38px;
    min-width: 145px;
}
.button-design {
    height: 38px;
    min-width: 103px;
}
.button-marketing {
    height: 38px;
    min-width: 130px;
}

.results-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.results-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.results-item:hover,
.results-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}



.results-info {
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    box-sizing: border-box;
    padding: 20px 24px;
}

.results-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--first-text-color);
    padding: 0;
    margin: 0 0 4px 0;
    text-align: start;
}

.results-item-text {
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    padding: 0;
    margin: 0;
    text-align: start;
}

.address {
    font-style: normal;
    margin-bottom: 9px;
}


