.activity {
    @include font(700, 36px, 1.66, 0.03em);
    text-align: center;
    color: var(--black-gray);
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }

    &__title {
        @include font(700, 36px, 1.66, 0.03em);
        text-align: center;
        color: var(--black-gray);
        margin: 0 0 35px 0;
        padding: 0;
    }

    &__list {
        @extend %list;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: calc(100% / 3 - 30px);
        margin: 15px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    &__text {
        @include font(700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
        color: var(--white);

        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
        padding: 27px 0;

        background-color: rgba(47, 48, 58, 0.8);
    }
}
