.contacts {
    margin: 0;
    display: none;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: inline-block;
    }

    &__list {
        @extend %list;
        display: flex;
        flex-direction: column;
        margin-right: 15px;

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        text-align: center;

        @media screen and (min-width: 1200px) {
            margin-left: 30px;
        }

        @media screen and (min-width: 768px) and (max-width: 1200px) {
            margin-top: 10px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        @include font(500, 12px, 1.66, 0.02em);
        @extend %link;
        color: var(--space-gray);
        fill: var(--space-gray);
        transition: color 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 1200px) {
            @include font(500, 14px, 1.14, 0.02em);
        }
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    &__icon {
        margin-right: 10px;
    }
}
