.logo {
    @include font(700, 24px, 1.66, 0.03em);

    @extend %link;

    @media screen and (min-width: 1200px) {
        @include font(700, 26px, 1.19, 0.03em);
    }

    font-family: "Raleway", sans-serif;
    display: block;

    &__accent {
        color: var(--accent-color);
    }
}

.header__logo {
    color: var(--black);

    margin-left: 15px;
}

.footer__logo {
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
}
