.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: block;

    &__accent {
        color: var(--accent-color);
    }
}

.header__logo {
    color: var(--black);
    margin-right: 93px;
}

.footer__logo {
    color: var(--white);
    margin-bottom: 20px;
}
