.subscribe-form {
    display: flex;
    align-items: flex-end;

    &__container {
        display: flex;
        flex-direction: column;
        margin-left: 93px;
    }

    &__label {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white);
        margin-bottom: 20px;
    }

    &__input {
        width: 358px;
        height: 50px;
        padding-left: 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: transparent;
        color: rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    }
}
