:root {
    --black: #000000;
    --white: #ffffff;
    --black-gray: #212121;
    --space-gray: #757575;
    --accent-color: #2196f3;
    --dark-grey: #2f303a;
    --second-white: #f5f4fa;
    --light-grey: #afb1b8;
}
